body
    {
        background: url('wallpaper.jpg');
        color: #000000;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
        height: 254px;
    }
#main_page
    {
        margin: 0 auto;
        width: 1000px;
    }
#top_banner
    {
        background: url('banner.jpg') no-repeat;
        width: 800px;
        height: 533px;
    }

#top_menu
    {
        text-align: center;
				clear: both;
        position: relative;
        top: 12px;
    }
ul.button1
    {
        list-style-type: none;
    }
li.button1
    {
        display: inline;
        padding-right: 20px;
				
    }
a:link
    {
        text-decoration: none;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        color: #eae2d3;
        font-size: 12pt;
    }
a:active
    {
        text-decoration: none;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        color: #eae2d3;
        font-size: 12pt;
    }
a:visited
    {
        text-decoration: none;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        color: #eae2d3;
        font-size: 12pt;
    }
a:hover
    {
        text-decoration: none;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        color: #eae2d3;
        font-size: 12pt;
    }
#content_box
    {
        clear: both;
        margin: 0 auto;
        position: relative;
        top: 12px;
        width: 1000px;
        min-height: 500px;
        background-color: #eae2d3;
    }
#content1
    {
        width: 199px;
        min-height: 400px;
        position: relative;
        top: 50px;
        float: left;
    }
.content1_head
    {
        color: #635e53;
        padding-left: 20px;
        font-size: 10pt;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    }
.content
    {
        color: #635e53;
        padding-left: 20px;
        padding-right: 10px;
        font-size: 8pt;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    }
#content2
    {
	text-align: center;
        width: 600px;
        min-height: 400px;
        position: relative;
        top: 50px;
        float: left;
    }
#content3
    {
        width: 199px;
        min-height: 400px;
        position: relative;
        top: 50px;
        float: left;
    }
#foot_bg
    {
        clear:both ;
				position: relative;
        top: 0px;
        width: 100%;
        min-height: 200px;
        background-color: ##e8dede;
    }
#foot
    {
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 70px;
        color: #eae2d3;
    }
		
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
